S3method(print,ind_geno_lik_array)
S3method(print,marriage_geno_lik_array)
export(alle_freqs)
export(count_genos)
export(genos_to_indicators)
export(get_indiv_geno_lik)
export(get_snp_genos)
export(gfreqs_from_afreqs)
export(lik_array_from_simple_geno_err)
export(multi_kid_marriage_likelihoods)
export(per_kid_marriage_likelihoods)
export(prep_all_variables)
export(trans_probs)
importFrom(Rcpp,sourceCpp)
useDynLib(fullsniplings)
